@font-face {
  font-family: 'Circe';
  src: url("../fonts/Circe.eot");
  src: url("../fonts/Circe.eot?#iefix") format("embedded-opentype"), url("../fonts/Circe.woff") format("woff"), url("../fonts/Circe.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Circe Light';
  src: url("../fonts/Circe-Light.eot");
  src: url("../fonts/Circe-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Circe-Light.woff") format("woff"), url("../fonts/Circe-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Circe Bold';
  src: url("../fonts/Circe-Bold.eot");
  src: url("../fonts/Circe-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Circe-Bold.woff") format("woff"), url("../fonts/Circe-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: 'Circe', sans-serif;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: #000;
}

.container {
  width: 63%;
  margin: 0 auto;
  padding-left: 30px;
}

label {
  font-size: 1.6rem;
  color: #737373;
  width: 400px;
  margin: auto;
}

.circle {
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-color: #ffcd33;
  position: absolute;
}

.title {
  font-size: 4.9rem;
  letter-spacing: .15rem;
}

.button {
  font-family: 'Circe Bold';
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.1rem;
  letter-spacing: .05rem;
  font-weight: 700;
  cursor: pointer;
  color: #fff;
  background-color: #ff591f;
  padding: 23px 44px;
  border: none;
  -webkit-border-radius: 30px;
          border-radius: 30px;
  -webkit-box-shadow: 0 10px 40px rgba(255, 89, 31, 0.35), 0 9px 46px rgba(255, 89, 31, 0.56);
          box-shadow: 0 10px 40px rgba(255, 89, 31, 0.35), 0 9px 46px rgba(255, 89, 31, 0.56);
}

.button:hover {
  background-color: #af6950;
}

.link {
  font-family: 'Circe Bold';
  color: #ff591f;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.2rem;
}

.link:hover {
  color: #af6950;
}

.arrows {
  margin-top: 79px;
  margin-bottom: 68px;
  margin-left: 10px;
}

.arrow {
  background-color: transparent;
  border: none;
  opacity: 0.5;
}

.arrow__right {
  margin-left: 33px;
}

.nav-link:hover,
.thumbs__link:hover,
.services__link:hover,
.header-contacts__callback:hover,
.counter-policy__link:hover {
  color: #a5a6a7;
}

.section-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
}

.circle_small {
  top: -50px;
  left: -45px;
  width: 168px;
  height: 168px;
  z-index: 0;
}

.circle_big {
  top: -80px;
  right: -135px;
  width: 860px;
  height: 860px;
  z-index: 0;
}

.circle_services {
  top: 233px;
  left: -65px;
  z-index: 0;
  width: 521px;
  height: 521px;
}

.header {
  font-family: 'Circe Bold';
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1.5fr 4fr 2fr;
      grid-template-columns: 1.5fr 4fr 2fr;
      grid-template-areas: "header-logo nav-bar header-contacts" ". header-text .";
  -ms-grid-rows: 2fr 10fr;
      grid-template-rows: 2fr 10fr;
  grid-column-gap: 24px;
  height: 834px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff9e6;
  -webkit-box-shadow: 5px 5px 5px rgba(255, 249, 230, 0.5);
          box-shadow: 5px 5px 5px rgba(255, 249, 230, 0.5);
}

.header-img {
  position: absolute;
  top: 0;
  right: 8%;
  width: 490px;
}

.header-logo {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header-logo;
  -ms-grid-column-align: center;
      justify-self: center;
  position: relative;
  width: 230px;
  margin-top: -65px;
  margin-left: 50px;
}

.header-logo__img {
  width: 160px;
}

.header-contacts {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: header-contacts;
  position: relative;
  font-weight: 900;
  margin-top: -60px;
  margin-left: 10px;
}

.header-contacts__link {
  text-decoration: none;
  color: #000;
  margin-right: 20px;
  text-transform: uppercase;
}

.header-contacts__phone {
  font-size: 1.8rem;
  margin-left: 100px;
  letter-spacing: .05rem;
}

.header-contacts__callback {
  font-size: 12px;
  display: inline-block;
  margin-right: -35px;
}

.header-contacts__callback:after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.7);
}

.header-text {
  display: block;
  position: relative;
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: header-text;
  -webkit-align-self: start;
      -ms-flex-item-align: start;
              -ms-grid-row-align: start;
          align-self: start;
  margin-top: 45px;
  margin-left: -10px;
}

.header-title {
  font-size: 6rem;
  font-weight: 700;
  letter-spacing: .001rem;
  position: relative;
  padding-bottom: 45px;
  line-height: 1.05;
}

.header-subtitle {
  display: block;
  font-size: 1.8rem;
  line-height: 1.5;
  margin-left: 8px;
}

.header-buttons {
  margin-top: 65px;
  margin-left: 10px;
}

.header-buttons__link {
  margin-left: 25px;
}

.header-buttons__link::after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background-color: rgba(255, 89, 31, 0.7);
}

.nav-bar {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: nav-bar;
  font-size: 1.5rem;
  left: 0;
  top: 0;
  width: 552px;
  height: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 47px;
  margin-bottom: 80px;
}

.nav-link {
  text-decoration: none;
}

.thumbs {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.2rem;
  max-width: 390px;
  text-decoration: none;
  margin-left: 10px;
}

.about {
  margin-top: 97px;
}

.about-title {
  font-size: 4.8rem;
  letter-spacing: .3rem;
  margin-bottom: 30px;
}

.about-text {
  font-size: 1.8rem;
  letter-spacing: .0515px;
  line-height: 1.55;
}

.about-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.8rem;
  text-align: left;
  margin-right: 50px;
}

.about-col {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 60px;
}

.about__img {
  margin-top: 15px;
  margin-left: -5px;
}

.about__title {
  color: #ff591f;
  font-size: 8rem;
  margin-top: -60px;
  margin-left: 20px;
}

.about__text {
  letter-spacing: .01rem;
  margin-left: 20px;
  margin-top: -27px;
  line-height: 1.3;
}

.text-notes {
  margin-top: -20px;
}

.text-notes, .text-castle, .text-pens {
  margin-left: 40px;
}

.services {
  margin-top: 91px;
  position: relative;
}

.services-title {
  font-size: 4.7rem;
  letter-spacing: .35rem;
  margin-bottom: 40px;
}

.services-links {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 700;
  width: 620px;
  margin-left: 5px;
}

.services-text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.services-img {
  display: inline-block;
  position: relative;
  bottom: -30px;
  left: -250px;
}

.services-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 90px;
  margin-left: -95px;
}

.services__title {
  font-size: 4.5rem;
  letter-spacing: .15rem;
  line-height: 1.05;
  margin-top: 40px;
  margin-left: -60px;
}

.services-list {
  list-style-type: none;
  line-height: 2.5;
  font-size: 1.7rem;
  margin-top: 27px;
  margin-left: -115px;
  letter-spacing: .04rem;
}

.services-list__item > i {
  color: #ff591f;
  width: 35px;
}

.services-button {
  padding: 18px 40px;
}

.services-buttons {
  margin-top: 40px;
  margin-left: 8px;
}

.services-buttons__link {
  margin-left: 30px;
}

.services-buttons__link:after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background-color: rgba(255, 89, 31, 0.702);
}

.services-button {
  padding: 22px 30px;
}

.services-arrows {
  margin-top: 70px;
  margin-left: -285px;
}

.services-arrows__left {
  margin-right: 30px;
}

.circle_counter {
  top: -120px;
  right: -190px;
  width: 315px;
  height: 315px;
  z-index: -1;
}

.counter {
  position: relative;
  width: 925px;
  height: 780px;
  background-color: #fff;
  margin-top: 85px;
  padding-top: 5px;
  -webkit-border-radius: 20px;
          border-radius: 20px;
  -webkit-box-shadow: 0 10px 10px rgba(229, 231, 233, 0.7), 0 9px 16px rgba(229, 231, 233, 0.7);
          box-shadow: 0 10px 10px rgba(229, 231, 233, 0.7), 0 9px 16px rgba(229, 231, 233, 0.7);
}

.counter-title {
  font-size: 4.4rem;
  margin-top: 45px;
  margin-left: 55px;
  margin-bottom: 50px;
  font-weight: bold;
  letter-spacing: .1rem;
  line-height: 1.05;
}

.counter-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 290px;
  margin-top: -40px;
}

.counter-policy {
  font-size: 1.2rem;
  margin-top: 17px;
  margin-left: 53px;
  letter-spacing: .04rem;
}

.counter-policy__link {
  border-bottom: 1px dotted;
}

.counter-cost {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto;
  width: 830px;
  height: 155px;
  border: 3px solid #e1e4e9;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  margin-left: 50px;
}

.counter-cost__prelim {
  font-family: 'Circe Bold';
  font-size: 1.4rem;
  margin: 25px 0 0 45px;
}

.counter-cost__total {
  font-size: 4.9rem;
  margin-top: 7px;
  font-weight: 600;
  letter-spacing: .1rem;
  margin-left: -5px;
}

.counter-cost__list {
  width: 355px;
  list-style-type: none;
  font-size: 1.3rem;
  margin-top: 30px;
  margin-right: 35px;
  padding: 0;
}

.counter-cost__form {
  margin-top: 22px;
  margin-left: 50px;
}

.select,
.main {
  width: 400px;
}

.select {
  margin-top: 7px;
  margin-left: 50px;
  color: #424949;
}

.select-title {
  font-size: 1.6rem;
  color: #737373;
  margin-bottom: 20px;
}

.form-control {
  display: inline-block;
  width: 380px;
  height: 50px;
  font-size: 1.5rem;
  background-color: #f2f2f2;
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  padding: 30px auto;
  padding-left: 27px;
  border: none;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  -o-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  outline: none;
  margin-top: 15px;
}

.form-control__cost {
  width: 270px;
  height: 55px;
  -webkit-border-radius: 10px;
          border-radius: 10px;
}

.main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.main-first {
  height: 80px;
}

.main-first, .main-third {
  margin-right: 40px;
}

.main-second {
  margin-left: 50px;
  margin-bottom: 35px;
}

.main-second, .main-third {
  margin-top: -20px;
}

.main-third {
  margin-bottom: 35px;
}

.cost-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-bottom: 10px;
}

.cost-item::before {
  content: '';
  border-bottom: 1px dashed #000;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 0 5px;
  -webkit-box-ordinal-group: 3;
  -webkit-order: 2;
      -ms-flex-order: 2;
          order: 2;
}

.line {
  -webkit-box-ordinal-group: 4;
  -webkit-order: 3;
      -ms-flex-order: 3;
          order: 3;
}

.phone {
  margin-left: 30px;
}

.counter-button {
  margin-left: 40px;
}

.portfolio {
  width: 950px;
  height: 650px;
  margin-top: 77px;
}

.portfolio-title {
  font-size: 4.8rem;
  letter-spacing: .3rem;
}

.portfolio-arrows {
  margin-right: 20px;
}

.portfolio-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 47px;
}

.portfolio-button {
  padding: 20px 42px;
}

.portfolio-col {
  display: block;
  width: 442px;
  height: 460px;
  margin-bottom: 10px;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  -webkit-box-shadow: 0 10px 40px rgba(221, 221, 221, 0.3), 0 10px 40px rgba(221, 221, 221, 0.5);
          box-shadow: 0 10px 40px rgba(221, 221, 221, 0.3), 0 10px 40px rgba(221, 221, 221, 0.5);
}

.portfolio-col__first {
  margin-right: 45px;
  margin-left: 7px;
}

.portfolio-col__title {
  font-size: 1.95rem;
  letter-spacing: .03rem;
  margin-top: 25px;
  margin-left: 40px;
  margin-bottom: 15px;
}

.portfolio-col__text {
  font-size: 1.3rem;
  line-height: 1.5;
  margin-left: 40px;
}

.portfolio-image {
  width: 440px;
}

.portfolio-buttons {
  margin-top: 30px;
  margin-left: 40px;
}

.portfolio-buttons__link {
  margin-left: 35px;
}

.portfolio-buttons__link:after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background-color: rgba(255, 89, 31, 0.7);
}

.circle_benefits {
  top: -120px;
  left: -190px;
  width: 90px;
  height: 90px;
}

.benefits {
  position: relative;
  margin-top: 85px;
}

.benefits-title {
  font-size: 4.9rem;
  letter-spacing: .2rem;
  margin-bottom: 23px;
}

.benefits-text {
  font-size: 1.7rem;
  letter-spacing: .02rem;
  margin-left: 7px;
}

.benefits-action {
  margin-left: 5px;
}

.benefits-action__img {
  display: block;
  width: 520px;
  margin-top: 45px;
  height: 320px;
}

.benefits-img {
  position: absolute;
  top: -35px;
  right: -300px;
  width: 550px;
  height: 700px;
}

.top {
  font-size: 2.1rem;
  margin-top: 47px;
  margin-bottom: 10px;
  letter-spacing: .01rem;
}

.date {
  font-size: 1.1rem;
}

.models {
  width: 950px;
  margin-top: 80px;
}

.models-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 45px;
  width: 920px;
  text-align: center;
}

.title_models {
  margin-top: 10px;
  margin-left: 10px;
}

.model {
  width: 200px;
}

.model-img {
  display: block;
  width: 210px;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  margin-bottom: 30px;
}

.model-description {
  font-size: 1.4rem;
  margin-left: 10px;
  letter-spacing: .06rem;
}

.models {
  width: 950px;
  margin-top: 80px;
}

.models-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 45px;
  width: 920px;
  text-align: center;
}

.title_models {
  margin-top: 10px;
  margin-left: 10px;
}

.model {
  width: 200px;
}

.model-img {
  display: block;
  width: 210px;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  margin-bottom: 30px;
}

.model-description {
  font-size: 1.4rem;
  margin-left: 10px;
  letter-spacing: .06rem;
}

@media (max-width: 1360px) {
  .header-img {
    right: 0;
    width: 400px;
  }
  .video {
    max-width: 560px;
    width: 100%;
  }
  .video-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 50px;
  }
}
